#root {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
   background-color: #45585E;
}
#root form{
    color: whitesmoke;
    box-shadow: inset 0 0 5px #000000;
}