* {
    margin: 0px;
    padding: 0px;
}

.hm-pg {
    width: 100%;
}

.hm-pg::before {
    content: '';
    position: absolute;
    top: 72px;
    left: 0px;
    width: 100%;
    height: 80vh;
    background: url('../../assets/image/background.jpg') no-repeat center center/cover #222B59;
    z-index: -2;

}


.homebox {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 162px;
    margin: auto;
    width: 60%;
    height: 60vh;
}

@media (max-width: 1200px) {
    .homebox {
        width: 60%;
    }
}

@media (max-width: 1000px) {
    .homebox {
        width: 64%;
    }
}

@media (max-width: 830px) {
    .homebox {
        width: 68%;
    }
}

@media (max-width: 456px) {
    .homebox {
        width: 80%;
    }
}

@media (max-width: 356px) {
    .homebox {
        width: 90%;
    }
}

@media (max-width: 320px) {
    .homebox {
        width: 94%;
    }
}