* {
    margin: 0px;
}


.nav-bar {
    height: 80px;
    overflow-x: hidden;
}

.btn-reg:hover {
    transition: opacity 0.3s ease;
    opacity: 0.8;
}

@media (max-width: 960px) {
    .nav-open-btn {
        background: yellow;

        .ham {
            height: 4px;
            width: 46px;
            border-radius: 2px;
            margin: 4px 0px;
            background-color: #6F85C3;
        }
    }

    #active {
        border-radius: none;

        &:first-child {
            width: 46 + 13.473;
            translate: 0px 6.834px;
            transform: rotate(-45deg);
        }

        &:nth-child(2) {
            display: none;
        }

        &:nth-child(3) {
            width: 46 + 13.463;
            translate: 0px -6.834px;
            transform: rotate(45deg);
        }
    }

    .nav-bar-open {
        height: 100vh;
        overflow: hidden;
    }

    .nav-bar-container {
        flex-direction: column;
    }

    .toolbar {
        position: absolute;
        top: 80px;
        flex-direction: column;
        width: 100%;
        left: 0px;
        text-align: center;
        height: 500px;
    }

    .toolbar-navopen {
        display: none;
    }

    .toolbar-btn {
        height: 58px;
        margin: auto auto;
    }

    .nav-home-link {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #nav-btn-open {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 100;
    }

}
